
.button a { 
	text-decoration:none; 
	color:black;

} 
.button {
    width:200px;
    background-size:200px 50px;
    margin:0px;
    cursor:pointer;
    padding:0px;
	padding-top:8px;
    background:url(/images/gray.png) no-repeat 0 0;
    text-align:center;
	font-size:135%;
	color:black;
    height:50px;
}

.button-highlight {
	opacity:.8;
}

.button-blue {
        background:url(/images/blue2.png) no-repeat 0 0;
}

.button-orange {
        background:url(/images/orange2.png) no-repeat 0 0;
}
.button-lightblue {
        background:url(/images/lightblue.png) no-repeat 0 0;
}
.button-green {
        background:url(/images/green2.png) no-repeat 0 0;
}
.button-odd {
        background:url(/images/image.png) no-repeat 0 0;
}


